{% load i18n %} {% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="author" content="Seum Man" />
	<meta name="keywords" content="seum compteur" />
	<meta name="description" content="Ça fout le seum" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico" />
	<title>SeumBook™ – {% block title %}{% endblock %}</title>

	{# Load the tag library #} {% load bootstrap3 %} {# Load CSS and JavaScript #} {% bootstrap_css %} {% bootstrap_javascript jquery=True %} {# Display django.contrib.messages as Bootstrap alerts #} {% bootstrap_messages %}

	<style>
		body {
			background-color: #EEEEEE
		}

		.seum-counter {
			height: 75px;
			overflow: auto;
		}

		.primary-counter {
			height: 215px;
			overflow: auto;
			display: flex;
			align-items: center;
		}

		.timeline {
			height: 125px;
		}

		.graphs {
			overflow-y: hidden;
		}

		.graphs>div {
			display: block;
			margin: 0 auto;
		}

		.counter-link,
		.counter-link:hover {
			color: inherit;
			/* blue colors for links too */
			text-decoration: inherit;
			/* no underline */
		}
	</style>

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
		google.load("visualization", "1", {
			packages: ["corechart"]
		});

		function revealSeumForm(counterID) {
			document.getElementById('counter' + counterID).style.display = 'inline';
			document.getElementById('button' + counterID).style.display = 'none';
			document.getElementById('reason' + counterID).focus();
		}
	</script>
</head>
<section id="content">
	{% block content %}{% endblock %}
</section>
<div class="container">
	<div class="text-center">
		<form action="{% url 'set_language' %}" method="post">{% csrf_token %} {% if LANGUAGE_CODE == 'fr' %}
			<input name="language" type="hidden" value="en" />
			<input type="submit" class="btn btn-primary" value="English version" /> {% else %}
			<input name="language" type="hidden" value="fr" />
			<input type="submit" class="btn btn-primary" value="Version française" /> {% endif %}
		</form>
	</div>
</div>
</body>

</html>
