{% extends 'baseTemplate.html' %} {% block title %}Mot de passe changé !{% endblock %}{% block content %}
<div class="container">
    <div class="row">
        <div class="text-center">
            <h1><a class="counter-link" href="{% url 'home' %}">SeumBook™</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Victoire !</h2>
            </div>
            <div class=" panel-body">
                <p>Tu as créé ton compteur ! Ton login est <b>{{login}}</b>.</p>
                <div class="text-center">
                    <a href="{% url 'login' %}" type="submit" class="btn btn-default btn-success">Connecte-toi pour accéder au site !</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
