{% extends 'baseTemplate.html' %}

{% load i18n %}

{% block title %}{% trans "Password successfully changed!" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="text-center">
            <h1><a class="counter-link" href="{% url 'home' %}">SeumBook™</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Victory!" %}</h2>
            </div>
            <div class=" panel-body">
                <p>{% trans "You have created your counter! Your login is " %} <b>{{ login }}</p>.</p>
                <div class="text-center">
                    <a href="{% url 'login' %}" type="submit" class="btn btn-default btn-success">{% trans "Login to access the website!" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
