{% extends 'baseTemplate.html' %}

{% block title %}{{hashtag}}{% endblock %}

{% block content %}
{% load i18n %}
{% load hashtags %}

<div class="text-center">
  <h1>
    <a class="counter-link" href="{% url 'home' %}"><b>{{hashtag}}</b></a>
  </h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            {% trans "Seums containing" %} {{ hashtag }}<small class="badge pull-right">{{ totalNumber }}</small></h2>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Motive" %}</th>
                <th>{% trans "Victim" %}</th>
                <th>{% trans "Seum giver" %}</th>
                <th>{% trans "Number of likes" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for reset in resets %}
              <tr>
                <td><b>{{ reset.timestamp | date:"SHORT_DATETIME_FORMAT" }}</b></td>
                <td>{{ reset.reason | hashtag }}</td>
                <td>{{ reset.counter.trigramme }}</td>
                <td>
                {% if not reset.selfSeum %}
                    {{ reset.who.trigramme }}
                {% endif %}
                </td>
                <td>{{ reset.likeCount }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="text-center">
    <a class="btn btn-success" href="{% url 'home' %}">{% trans "Back to counters list" %}</a>
  </div>
</div>
</div>
{% endblock %}
