{% extends 'baseTemplate.html' %} {% block title %}Login{% endblock %}{% block content %}
<div class="container">
    <div class="row">
        <div class="text-center">
            <h1><a class="counter-link" href="{% url 'home' %}">SeumBook™</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Connecte toi pour avoir le seum !</h2>
            </div>
            <div class=" panel-body">
                <form class='' method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Nom d'utilisateur</label>
                        <input id="id_username" type="text" class="form-control" name="username" required />
                    </div>
                    <div class="form-group">
                        <label for="id_username">Mot de passe</label>
                        <input id="id_username" type="password" class="form-control" name="password" required />
                    </div>
                    <input type="hidden" name="next" value="{{ next }}" />
                    <div class="text-center">
                        <button type="submit" class="btn btn-default btn-success">Se connecter</button>
                        <a href="{% url 'password_reset' %}" class="btn btn-default btn-danger">Mot de passe oublié</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if form.errors %}
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2 class="panel-title">Erreur</h2>
            </div>
            <div class=" panel-body">
                <p>T'arrives même pas à te connecter, seum.</p>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Pas encore de compteur ?</h2>
            </div>
            <div class=" panel-body">
                <p>Dépếche toi d'aller le créer pour partager ton seum !</p>
                    <div class="text-center">
                        <a href="{% url 'create_user' %}" class="btn btn-default btn-info">Créer un compteur</a>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
