{% extends 'baseTemplate.html' %}

{% load i18n %}

{% block title %}{% trans "Email sent!" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="text-center">
            <h1><a class="counter-link" href="{% url 'home' %}">SeumBook™</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Victory!" %}</h2>
            </div>
            <div class=" panel-body">
                <p>{% trans "We have sent you an email. Follow the instructions to reinitialise your password." %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
