{% extends 'baseTemplate.html' %} {% block title %}Mot de passe changé !{% endblock %}{% block content %}
<div class="container">
    <div class="row">
        <div class="text-center">
            <h1><a class="counter-link" href="{% url 'home' %}">SeumBook™</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">Victoire !</h2>
            </div>
            <div class=" panel-body">
                <p>Ça y est tu as réinitialisé ton mot de passe ! Du coup tu peux aller remettre ton compteur à zéro.</p>
                <div class="text-center">
                    <a href="{% url 'home' %}" type="submit" class="btn btn-default btn-success">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
