{% extends 'baseTemplate.html' %} {% block title %}Mot de passe oublié{% endblock %}{% block content %}
<div class="container">
    <div class="row">
        <div class="text-center">
            <h1>SeumBook™</h1>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Réinitialisation du mot de passe</h2>
            </div>
            <div class=" panel-body">
                <form class='' method="POST" action="{% url 'password_reset' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_email">Email auquel sera envoyé le lien de réinitialisation</label>
                        <input id="id_email" type="email" class="form-control" name="email" required/>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-default btn-success">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if form.errors %}
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2 class="panel-title">Erreur</h2>
            </div>
            <div class=" panel-body">
                <p>T'arrives même pas à te connecter, seum.</p>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
