{% extends 'baseTemplate.html' %} {% block title %}Mail envoyé !{% endblock %}{% block content %}
<div class="container">
    <div class="row">
        <div class="text-center">
            <h1>SeumBook™</h1>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">Victoire !</h2>
            </div>
            <div class=" panel-body">
                <p>Un mail t'as été envoyé, suis les instructions pour aller réinitialiser ton mot de passe.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
