{% extends 'baseTemplate.html' %}

{% load i18n %}

{% block title %}{% trans "Your password has been reset" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="text-center">
            <h1><a class="counter-link" href="{% url 'home' %}">SeumBook™</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Victory!" %}</h2>
            </div>
            <div class=" panel-body">
                <p>{% trans "That's it! You have reset your password! You can reset your counter now." %}</p>
                <div class="text-center">
                    <a href="{% url 'home' %}" type="submit" class="btn btn-default btn-success">{% trans "Home" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
